<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogins</servlet-name>
        <servlet-class>AdminLogins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accountantlogin</servlet-name>
        <servlet-class>Accountantlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accountloginp</servlet-name>
        <servlet-class>Accountloginp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcoountantLoginP</servlet-name>
        <servlet-class>AcoountantLoginP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountantLoginSe</servlet-name>
        <servlet-class>AccountantLoginSe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>student</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogins</servlet-name>
        <url-pattern>/AdminLogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accountantlogin</servlet-name>
        <url-pattern>/Accountantlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accountloginp</servlet-name>
        <url-pattern>/Accountloginp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcoountantLoginP</servlet-name>
        <url-pattern>/AcoountantLoginP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountantLoginSe</servlet-name>
        <url-pattern>/AccountantLoginSe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
